$contentFontFamily: "Poppins", sans-serif;
$logoFontFamily: "Montserrat", sans-serif;
$color-800: #1f2937;
$color-700: #374151;
$color-600: #4b5563;
$color-400: #9ca3af;
$color-200: #e5e7eb;
$color-100: #f3f4f6;
$white: #f9fafb;
$sucessful-color: #22c55e;
$error-color: #dc2626;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
