@use "normalize";
@use "utilities";
@use "variables" as *;

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    .navbar {
        padding: 1.25rem;
        grid-row-start: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cards-container {
        grid-row-start: 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
        grid-auto-rows: 400px;
        gap: 20px;

        @media screen and (max-width: 720px) {
            justify-content: center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 3;
        position: fixed;
        bottom: 0;
        font-family: $contentFontFamily;
        background-color: $color-800;
        color: $white;
        width: 100vw;
        padding: .5rem;

        a {
            margin-left: .375em;
            text-decoration: none;
            color: $color-800;
            background-color: $color-200;
            padding: .375em .75em;
            border-radius: .375em;
        }
    }
}

.logo-container {
    --font-size: clamp(1.5rem, 1.0556rem + 2.2222vw, 2rem);
    --logo-font-size: clamp(1.5rem, 0.6111rem + 4.4444vw, 2.5rem);
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .material-symbols-outlined {
        font-size: var(--logo-font-size);
        color: $color-800;
    }

    p {
        font-size: var(--font-size);
        line-height: 2rem;
        color: $color-800;
        font-family: $logoFontFamily;
        font-weight: 800;
    }
}

.utilities-container {
    button {
        @include utilities.button-reset;

        --font-size: clamp(0.875rem, 0.6528rem + 1.1111vw, 1.125rem);
        padding: 0.75em 1.75em;
        font-family: $contentFontFamily;
        color: $white;
        background-color: $color-800;
        font-weight: 600;
        font-size: var(--font-size);
        border-radius: 0.875em;
        box-shadow: 0 6px 0 0 $color-600;
        transition:
            transform 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;

        &:active {
            transform: translateY(6px);
            box-shadow: none;
        }
    }
}

.cards-container {
    padding: 1.5rem;

    .add-btn {
        @include utilities.button-reset;

        border: 2px dashed $color-400;
        border-radius: 0.75rem;

        .material-symbols-outlined {
            color: $color-400;
            font-size: 1.5rem;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.75rem;
    background-color: $color-100;
    padding: 1.25rem;
    box-shadow: $box-shadow;

    h3 {
        font-family: $contentFontFamily;
        color: $color-800;
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 1.25rem;
        color: $color-600;
        font-family: $contentFontFamily;
    }
    
    .buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
            @include utilities.button-reset;
            font-size: 1rem;
            font-weight: 600;
            color: $white;
            background-color: $color-800;
            padding: .75em 1.75em;
        }
    }
}
